<h1>detail</h1>


<h3>{{ route.airport }}</h3>
<h4>Outbound Flights</h4>
{% for flight in route.outbound_flights.all %}
    <li>From: {{ flight.departure_airport }}</li>
    <li>{{ flight.carrier_code }} {{ flight.flight_no }}</li>
    <li>{{ flight.departure_time }}</li>
    <li>To: {{ flight.arrival_airport }}</li>
{%  endfor %}
<h4>Inbound Flights</h4>
{% for flight in route.inbound_flights.all %}
    <li>From: {{ flight.departure_airport }}</li>
    <li>{{ flight.carrier_code }} {{ flight.flight_no }}</li>
    <li>{{ flight.departure_time }}</li>
    <li>To: {{ flight.arrival_airport }}</li>
{%  endfor %}
