<h1>{{ title }}</h1>


    <ul>
    {%  for route in routes %}
    <h1>Route</h1>
        <h3>{{ route.airport }}</h3>
        <h4>Outbound Flights</h4>
        {% for flight in route.outbound_flights.all %}
            <li>From: {{ flight.departure_airport }}</li>
            <li>{{ flight.carrier_code }} {{ flight.flight_no }}</li>
            <li>{{ flight.departure_time }}</li>
            <li>To: {{ flight.arrival_airport }}</li>
            <h4>price{{ flight.price }}</h4>
            <img src="https://www.gstatic.com/flights/airline_logos/70px/{{ flight.carrier_code }}.png" alt="Smiley face" height="70" width="70">
            <br>
        {%  endfor %}
        <h4>Inbound Flights</h4>
        {% for flight in route.inbound_flights.all %}
            <li>From: {{ flight.departure_airport }}</li>
            <li>{{ flight.carrier_code }} {{ flight.flight_no }}</li>
            <li>{{ flight.departure_time }}</li>
            <li>To: {{ flight.arrival_airport }}</li>
            <img src="https://www.gstatic.com/flights/airline_logos/70px/{{ flight.carrier_code }}.png" alt="Smiley face" height="70" width="70">
        {%  endfor %}
    {% endfor %}
    </ul>
