<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><table width="100%" cellpadding="20" style="font-family: Helvetica, sans-serif;">
<tr>
<td bgcolor="#182231" align="center">
    {% load staticfiles %}
      <img src="{%  static "styles/images/alchemiya_logo.png" %} alt="Passport Fridays">
</td>
  </tr>
<tr>
    <td>
        {% block content %}{% endblock %}
    </td>
  </tr>
<tr>
<td bgcolor="#182231" style="color: white;">
      © 2015 Passport Fridays Ltd. All rights reserved.
    </td>
  </tr>
</table></body></html>